* {
    font: 500 16px (Arial, Helvetica, sans-serif);  
    margin: 0;
    padding: 0;
}

body {
    background: rgb(192, 108, 108);
}

main {

    width: 700px;
    margin: auto;

    box-shadow: 0.2px 3px 3px 5px rgba(0, 0, 0, 0.39);
}

header {
    padding: 20px 20px 40px;
    background-color: rgb(148, 141, 141);
    border-radius: 0px 0px 15px 15px;
}


article.cursos {
    margin-top: 20px;
    padding: 30px;
    background-color: #73a366;
}

img.lado {
    float: right;
    padding-right: 40px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

main p {
    padding: 5px 10px 5px 10px;
}