article.cursos a {
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    color: rgb(240, 233, 233);
    background: #22c252;

    margin: 20px;
    margin-bottom: 0;

    font-size: 30px;
    border-radius: 7px;
}

article a {
    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.4s;
}

article a:hover {
    cursor: pointer;
    transform: translateY(-5px);
    background: rgba(102, 175, 102, 0.637);
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;

    color: blue;
}

h2 {
    color: blue ;
}

img.lado {
    float: right;
    padding-right: 40px;
    padding-left: 20px;
}

main p {
    padding: 5px 10px 5px 10px;
}

